.navbar{
    background-color: black !important;
    color: white !important;
    width: 100%;
    height: 100% !important;
}



.navbar-toggler-icon {
  background-image: none; 
  position: relative;
  width: 30px;
  height: 2px;
  background-color: rgb(255, 255, 255); 
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255); 
  left: 0;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}

.container-fluid{
    color: white;
}

.nav-link{
    color: white !important;
}

.navbar-nav-scroll {
    overflow-y: auto !important; 
    max-height: 100vh !important; 
    background-color: black !important;
  }

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.822);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 0.5rem;
    font-size: 19px;
}

.search_list{
    display: flex;
    align-items: center;
}


.navbar-nav-scroll::-webkit-scrollbar {
    width: 12px;               
  }
  
  .navbar-nav-scroll::-webkit-scrollbar-track {
    background: rgb(21, 15, 105);        
  }
  
  .navbar-nav-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(44, 44, 150);    
    border-radius: 20px;       
 
  }

  @media (min-width: 768px) {

    .buscador{
      display: flex;
      margin-right: 20x;
      
    }

    .buscador{
      display: flex;
    }
    

    .search-results {
     justify-content: center;
    }

    .navbar-nav-scroll {
      overflow-y:unset !important; 
      max-height: 100vh !important; 
    }
  


  }