.card__movies{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
    margin-bottom: 2rem;
}

.button__filter{
    padding: 0.8em;
    border-radius: 10px;
    background-color: rgb(33, 33, 109);
    color: white;
    font-size: 11px;
}

.button__filter:hover{
    cursor: pointer;
    filter: brightness(1.5);
}

.ssss{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.movie__card{
    color: white;
    width: 170px;
    object-fit: cover;
}

.title_movie{
  font-size: 12px;
}

.date_movie{
  font-size: 13px;
}


.movie__card:hover{
    cursor: pointer;
    transform: scale(1.04);
    
}


.img_movie{
    border-radius: 10px;
}

/*** CIRCLE COLOR WHITE  ***/

.circle_number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    z-index: 2;

  }
  
  .red {
    border: 4px solid red;
    color: white;
    position: relative;
    top: 70px;
    left: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.63);
  }
  
  .yellow {
    border: 4px solid yellow;
    color: white;
    position: relative;
    top: 70px;
    left: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.63);
  }
  
  .green {
    border: 4px solid green;
    color: white;
    color: white;
    position: relative;
    top: 70px;
    left: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.63);
  }

  @media (min-width: 768px) {

    .ssss{
        display: flex;
        flex-wrap: wrap;
        gap: 0rem;
        align-items: center;
        justify-content: center;

    }

    .img_movie{
        width: 230px;
        border-radius: 10px;
    }
    

    .movie__card{
        color: white;
        width: 280px;
        object-fit: cover;
        margin-bottom: 1em;
    }

    .title_movie{
      font-size: 18px;
    }
    
    .date_movie{
      font-size: 13px;
    }

  }


  /* paginacion */

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    border-radius: 1px;
    margin-bottom: 10px;
  }
  
  .page-link {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid rgb(33, 33, 109);
    cursor: pointer;
    background-color: #f8f9fa;
    border-radius: 1px;
  }
  
  .page-link.active {
    background-color: rgb(33, 33, 109);
    color: white;
    border-color: #007bff;
    border-radius: 1px;
  }