.card__movies{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ssss{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.img_movie{
    width: 500px;
}

