.carousel-item {
    position: relative;
    width: 100%; 
    height: 800px;
    overflow: hidden; 
}

.img__poster {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    object-position: top; 
}

.carousel-item::before,
.carousel-item::after {
    content: ""; 
    position: absolute; 
    top: 0; 
    width: 50%; 
    height: 100%; 
    pointer-events: none; 
    filter: blur(0px);
}

.carousel-item::before {
    left: 0; 
    background: linear-gradient(to right, rgba(0,0,0,5.9), transparent);
}

.carousel-item::after {
    right: 0; 
    background: linear-gradient(to left, rgba(0,0,0,5.9), transparent); 
}

.poster_title{
    color: white;
    position: relative;
    z-index: 999;
    bottom: 300px;
}